/Temp
/Assembly-CSharp.csproj
/Make10.sln
/Library
/Logs
/obj
/.vs/Make10/v16/.suo
/make9.sln
/user.keystore
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/GoogleMobileAds.csproj
/GoogleMobileAds.Editor.csproj
